* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

$gray: #808080;
$gray-light: #C7C7C7;
$black: #000;
$white: #fff;
$success: #02AC66;
$error: #EF280F;

h1 {
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
}

h3 {
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
}

h5 {
    font-family: 'Inter', 'sans-serif';
    font-weight: 200;
}

p {
    font-family: 'Inter', 'sans-serif';
    font-weight: 100;
}

body {
    background-color: #F3EFEF;
}


// .nav {
//     display: flex;
//     position: relative;
//     background-color: transparent !important;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px 20px;
//     font-family: 'Inter', 'sans-serif';
//     z-index: 99;
//     color: $white;

//     ul {
//         display: flex;
//         text-decoration: none;


//         li {
//             list-style: none;
//             font-weight: 400;
//             padding: 20px;
//             margin: 0 20px;

//             a {
//                 padding: 10px;
//                 color: $white;
//                 text-decoration: none;
//             }

//         }
//     }

//     .logo {
//         font-size: 1.5rem;
//         font-weight: 700;
//     }
// }
.logo {
    
}

.slider-container {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    position: unset;
    margin: auto;

    .slider-section {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        transition: opacity 1s ease;

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
            vertical-align: bottom;
        }
    }

    .slider-section.active {
        opacity: 1;
        visibility: visible;
    }

    .slider-pagination {
        width: 100%;
        justify-content: center;
        margin-bottom: 50px;
        position: absolute;
        bottom: 0;
        color: $gray;
        display: flex;

        .slider-page-item {
            margin: 0 10px;


            
        }

        .slider-page-item.active {
            background-color: $white;
        }

        .circle {
            width: 20px;
            height: 20px;
            background-color: #808080;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;

            &:hover {
                background-color: $white;
                transition-duration: .7s;
            }
            
        }
    }
}

.featured-container {
    grid-template-columns: 1fr 1fr;


    .featured {
        width: auto;
        display: flex;
    }
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;

    .gc-3 {
        display: grid;
        grid-template-columns: 0.2fr 1fr 0.2fr;
        grid-template-areas: '. products .';

    }

    .products {
        // grid-area: products;

        color: $black;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-areas: 'filters actionBar'
            'filters productsContainer'
            'filters pagination';
        grid-gap: 15px;

        .products-container {
            width: 100%;
            // grid-area: productsContainer;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: repeat(3, auto);
            grid-gap: 10px;
        }
    }
}

.action-bar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-by {
    margin: 0px 10px;
}

.card {
    .card__title {
        width: auto;
        padding: 10px;
        display: flex;
    }

    .card__body {
        width: auto;
    }

    .card__footer {
        width: 100%;
        display: flex;
        background-color: $white;
    }

    img {
        height: 220px;
        object-fit: cover;
    }

    p,
    h1,
    h3,
    h5 {
        margin: 10px 0;
    }

    .card__product {

        .add-cart {
            width: 160px;
            height: 5px;
            padding: 15px;
            background-color: $success;
            border-radius: 20px;
            color: #fff;
            display: flex;
            font-size: 15px;
            align-items: center;
            justify-content: center;

            h3 {
                background-color: $success;
                color: $white;
            }
        }

    }
}

.accordion-body {
    .accordion {
        width: 100%;

        .accordion-container {
            position: relative;
            margin: 10px 10px;
            align-items: center;
            transition: height 2s ease-in;

            .accordion-title {
                position: relative;
                padding: 10px 0;
                cursor: pointer;

                &::before {
                    content: '+';
                    transform: rotate(30deg);
                    position: absolute;
                    top: 50%;
                    color: $gray;
                    right: -5px;
                    font-size: 25px;
                    transform: translateY(-50%);

                }
            }

            .accordion-content {
                height: 0;
                width: 100%;
                overflow: hidden;
                -webkit-transition: height .3s ease;
                transition: height .3s ease;

                &::-webkit-scrollbar {
                    width: 4px;
                    border-radius: 8px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background-color: $gray;
                }
            }

            &.active {
                .accordion-content {
                    height: 250px;
                    overflow-y: scroll;
                }

                .accordion-title::before {
                    content: '-';
                    font-size: 25px;
                    transition: content 1s ease;
                }
            }
        }


    }
}

select {
    padding: 10px;
    max-width: 250px;
    background-color: transparent;
    border: none;
    outline: none;

    option {
        padding: 20px;
    }

    &:focus {
        outline: none;
    }
}

.pagination {
    display: flex;
    margin: 0 10px 0 0;

    li {
        padding: 10px 15px;
        list-style: none;
        text-decoration-line: none;

        a {
            text-decoration: none;
            color: $gray;
        }
    }

    .activate {
        border-radius: 40px;
        background-color: $gray-light;
    }
}

#filters-container {
    grid-row-start: 2;
    grid-row-end: 6;
}

#action-bar-container {
    // grid-row-start: 1;
}

#products-container {
    grid-column-start: 2;
    grid-column-end: -1;
}

#pagination-container {
    grid-column-start: 2;
    grid-column-end: -1;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 10px;
    font-family: 'Inter', 'sans-serif';
    z-index: 99;

    ul {
        list-style: none;
        display: flex;
    }
}

#nav-movile {
    display: none;
    position: fixed;
    z-index: 99;
}

.card__zoom {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__zoom figcaption::before {
    content: "";
    position: absolute;
    inset: 50px;
    border: 2px solid $gray-light;
    opacity: 0;
    scale: 1.25;
    transition: opacity 0.25s;
    scale: 0.25s;
}

.card__zoom:hover figcaption::before {
    opacity: 1;
    scale: 1;
}

.card__zoom img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
    scale: 1.1;
    transition: opacity 0.25;
    scale: 0.35s;
}

.card__zoom:hover img {
    opacity: 0.5;
    scale: 1.25;
}

.card__zoom h2 {
    position: absolute;
    color: $white;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#menu {

    margin-left: 25px;
}

#user-account {
    margin-left: 25px;
}

#cart-shopping {
    margin-left: 25px;
}

// #filters {
//     grid-area: filters;
// }

// #orderby {
//     grid-area: actionBar;
// }

// #pagination {
//     grid-area: pagination;
//     justify-content: center;
// }

i {
    text-align: center;
}

/* Tamano Mediano - Tablets */
@media screen and (max-width: 1200px){

    
}

/* Tamano pequeno - Celulares */
@media screen and (max-width: 576px){
    
    /*Nav*/
    #nav {
        display: none;
    }

    #nav-movile {
        display: flex;
    }

    /*Slider*/
    .slider-container {
        height: 300px;

        .slider-section {
            height: 300px;
        }
        .slider-pagination {
            bottom: 50%;
        }
    }
}